{% extends 'base.html'%}
{% block content %}
<h1>H</h1>
<ul>
<li>Name: {{ product.name }}</li>
<li>Description: {{product.description}}</li>
<li>Price: {{product.price_in_dollars}}</li>
<a href="{% url 'product_edit' id=product.pk %}">Edit</a>
<h1>Review count = {{ product.reviews.count }}</h1>

  {% for review in reviews %}
    <h4>{{ review.name }}</h4>
    <li>{{ review.message }}</li>
    <a href="{% url 'edit_review' id=review.id %}">Edit: {{review.id}}</a>
  {% endfor %}

<form action="{% url 'products_show' id=product.pk %}" method="post">
  {% csrf_token %}
  {{ review_form.as_p }}
  <input type="submit" name="" value="Post">
</form>

<a href="{% url 'product_review' id=product.id %}">Review</a>
<form action="{% url 'product_delete' id=product.pk %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" name="" value="Delete">
</form>
</ul>


{% endblock %}
